@model IEnumerable<CoverType>
@{
    ViewData["Title"] = "Cover types";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Cover types</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="CoverType" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>
                Create new cover type
            </a>
        </div>
    </div>
</div>

<partial name="_Notification" />

<table class="table table-bordered table-striped" style="width: 100%">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var coverType in Model)
        {
            <tr>
                <td>
                    @coverType.Name
                </td>
                <td>
                    <div class="w-75 btn-group">
                        <a asp-controller="CoverType" asp-action="Edit" asp-route-id="@coverType.Id" class="btn btn-primary mx-2">
                            <i class="bi bi-pencil"></i>
                            Edit
                        </a>
                        <a asp-controller="CoverType" asp-action="Delete" asp-route-id="@coverType.Id" class="btn btn-danger mx-2">
                            <i class="bi bi-trash"></i>
                            Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>